---
# tasks file for hswong3i.php

- name: include release specific variables
  include_vars: "{{ ansible_distribution_release }}.yml"
  tags: hswong3i.php

- name: apt-add-repository
  apt_repository:
    repo: "{{ item.repo }}"
    state: "{{ item.state }}"
  with_items: "{{ _apt_repository }}"
  tags: hswong3i.php

- name: apt-get install
  apt:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
  with_items: "{{ _apt }}"
  notify: restart php
  tags: hswong3i.php

- name: prepare files
  file:
    dest: "{{ item.dest }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
    state: "{{ item.state }}"
  with_items:
    - { dest: "/etc/php", owner: "root", group: "root", mode: "0755", state: "directory" }
    - { dest: "/run/php", owner: "www-data", group: "www-data", mode: "0755", state: "directory" }
  notify: restart php
  tags: hswong3i.php

- name: copy templates
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  with_items:
    - { src: "etc/php/5.6/cli/php.ini.j2", dest: "/etc/php/5.6/cli/php.ini",  owner: "root", group: "root", mode: "0644" }
    - { src: "etc/php/5.6/fpm/php-fpm.conf.j2", dest: "/etc/php/5.6/fpm/php-fpm.conf", owner: "root", group: "root", mode: "0644" }
    - { src: "etc/php/5.6/fpm/php.ini.j2", dest: "/etc/php/5.6/fpm/php.ini", owner: "root", group: "root", mode: "0644" }
    - { src: "etc/php/5.6/fpm/pool.d/www.conf.j2", dest: "/etc/php/5.6/fpm/pool.d/www.conf", owner: "root", group: "root", mode: "0644" }
    - { src: "etc/php/7.0/cli/php.ini.j2", dest: "/etc/php/7.0/cli/php.ini",  owner: "root", group: "root", mode: "0644" }
    - { src: "etc/php/7.0/fpm/php-fpm.conf.j2", dest: "/etc/php/7.0/fpm/php-fpm.conf", owner: "root", group: "root", mode: "0644" }
    - { src: "etc/php/7.0/fpm/php.ini.j2", dest: "/etc/php/7.0/fpm/php.ini", owner: "root", group: "root", mode: "0644" }
    - { src: "etc/php/7.0/fpm/pool.d/www.conf.j2", dest: "/etc/php/7.0/fpm/pool.d/www.conf", owner: "root", group: "root", mode: "0644" }
    - { src: "etc/php/7.1/cli/php.ini.j2", dest: "/etc/php/7.1/cli/php.ini",  owner: "root", group: "root", mode: "0644" }
    - { src: "etc/php/7.1/fpm/php-fpm.conf.j2", dest: "/etc/php/7.1/fpm/php-fpm.conf", owner: "root", group: "root", mode: "0644" }
    - { src: "etc/php/7.1/fpm/php.ini.j2", dest: "/etc/php/7.1/fpm/php.ini", owner: "root", group: "root", mode: "0644" }
    - { src: "etc/php/7.1/fpm/pool.d/www.conf.j2", dest: "/etc/php/7.1/fpm/pool.d/www.conf", owner: "root", group: "root", mode: "0644" }
  notify: restart php
  tags: hswong3i.php

- name: enable module
  php_module:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
  with_items: "{{ (_php_module + php_module) | unique }}"
  notify: restart php
  tags: hswong3i.php

- name: enable service
  service:
    name: "{{ item.name }}"
    enabled: "{{ item.enabled }}"
  with_items:
    - { name: "php5.6-fpm", enabled: "yes" }
    - { name: "php7.0-fpm", enabled: "yes" }
    - { name: "php7.1-fpm", enabled: "yes" }
  notify: restart php
  tags: hswong3i.php
